
/* @media screen and (max-width: 1023px) {
    .eventdetail-banner {
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .eventdetail-banner img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .eventdetail-banner img {
        width: auto !important;
    }
} */

/* .movie_nav_2{
display: flex;
align-items: center;
justify-content: space-between;
width: 90%;
margin: auto;
};

.Loggers{
    color: yellow;
    display: flex;
} */

.main_movie{
    width: 90%;
    margin: auto;
    
}

